html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: roboto, sans-serif;
  color: #757575;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.header {
  padding-top: 25px;
  padding-bottom: 22px;
}

@media screen and (max-width: 1199px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .header__box {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header__box {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header__box {
    width: 1200px;
  }
}

.header--active {
  border-bottom: solid 1px #f5f4fa;
}

.logo {
  text-decoration: none;
}

.logo__first-part {
  color: #2196f3;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__second-part {
  color: #000000;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo__second-part--inverse {
  color: #ffffff;
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.nav-box {
  margin-left: 93px;
}

@media screen and (max-width: 479px) {
  .nav-box {
    display: none;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__list:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item {
  color: #212121;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item:hover, .site-nav__item:focus {
  color: #2196f3;
}

.site-nav__item--active {
  position: relative;
  color: #2196f3;
}

.site-nav__item--active::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 1.5px;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__list:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover, .header-contacts__item:focus {
  color: #2196f3;
}

.header-contacts__item:hover .header-contacts__envelope-icon,
.header-contacts__item:focus .header-contacts__envelope-icon,
.header-contacts__item:hover .header-contacts__smartphone-icon,
.header-contacts__item:focus .header-contacts__smartphone-icon {
  fill: #2196f3;
}

.header-contacts__envelope-icon {
  margin-right: 10px;
  fill: #757575;
  width: 16px;
  height: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__smartphone-icon {
  margin-right: 10px;
  fill: #757575;
  width: 10px;
  height: 16px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .header-contacts {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-mobile {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50%;
}

.navigation-box__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation-box__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-box__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 480px) {
  .nav-button {
    display: none;
  }
}

.nav-button__menu-icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-button__menu-icon:hover, .nav-button__menu-icon:focus {
  fill: #2196f3;
}

.menu-toggle {
  position: absolute;
  height: 19px;
  top: 15px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-toggle__menu-icon {
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle__menu-icon:hover, .menu-toggle__menu-icon:focus {
  fill: #2196f3;
}

.works-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 479px) {
  .works-section {
    display: none;
  }
}

.works-section__box {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.works-section__title {
  margin: 0;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.work__box {
  position: relative;
  height: 294px;
}

.work__item {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__name {
  margin: 0;
  padding: 27px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-form {
  padding: 0 40px 40px 40px;
}

.modal-form__name, .modal-form__email, .modal-form__tel, .modal-form__coments {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 12px;
  border-radius: 4px;
}

.modal-form__text {
  margin-bottom: 4px;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  height: 40px;
  padding-left: 42px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__input:focus, .modal-form__textarea:focus {
  border: 2px solid #2196f3;
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  width: 18px;
  height: 18px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea {
  height: 120px;
  padding: 12px 16px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea::-webkit-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::-ms-input-placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__close-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 8px;
  padding-right: 8px;
}

.modal__close-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-icon {
  width: 11px;
  height: 11px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-item:hover .modal__close-icon,
.modal__close-item:focus .modal__close-icon {
  fill: #2196f3;
}

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.button-box__btn {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  border-radius: 6px;
  padding: 10px 55px;
  border: solid 1px #2196f3;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-box__btn:hover, .button-box__btn:focus {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.policy {
  margin-top: 20px;
}

.policy__accept-box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.policy__accept-box:checked + .policy__check-place {
  background-color: #2196f3;
  border: 2px solid #2196f3;
  background-image: url(../../images/accept.svg);
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.policy__check-place {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-width: 16px;
  height: 15px;
  border: 2px solid #2a2a2a;
  border-radius: 2px;
  margin-right: 8px;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__accept-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 8px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.policy__accept-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 8px;
}
/*# sourceMappingURL=main.css.map */