.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
  &__box {
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__title {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    color: $primary-text-color;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
  }
}
.client {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
    width: calc (100/2 * 30px)/2;
    margin: -15px;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    width: calc (100/3 * 30px)/3;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
  &__box {
    @media screen and (max-width: 1199px) {
      margin: 15px;
    }
    max-width: 170px;
    max-height: 92px;
    border: 1px solid #afb1b8;
    transition: border 250ms $cubic-bezier;
  }
  &__box:hover {
    border: 1px solid $accent-color;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
  }
  &__link:hover .client__icon,
  &__link:focus .client__icon {
    fill: $accent-color;
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition: fill 250ms $cubic-bezier;
  }
  &__icon--first {
    width: 41px;
    height: 47px;
  }
  &__icon--second {
    width: 40px;
    height: 52px;
  }
  &__icon--third {
    width: 43px;
    height: 41px;
  }
  &__icon--fourth {
    width: 84px;
    height: 41px;
  }
  &__icon--fifth {
    width: 62px;
    height: 45px;
  }
  &__icon--sixth {
    width: 94px;
    height: 44px;
  }
}
