.address-box {
  margin-top: 20px;
  &__text {
    color: $footer-text-color;
    font-style: inherit;
    font-size: 14px;
    line-height: 1.7;
  }
}
.footer-contacts {
  margin-top: 9px;
  &__box {
    // display: flex;
    // flex-direction: column;
  }
  &__list:last-child {
    margin-top: 9px;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    transition: color 250ms $cubic-bezier;
  }
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}
