.header-contacts {
  margin-left: auto;
  &__box {
    // display: flex;
  }
  &__list:not(:last-child) {
    margin-right: 50px;
  }
  &__item {
    // display: flex;
    // padding: 10px 0;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    text-decoration: none;
    align-items: center;

    transition: color 250ms $cubic-bezier;
  }
  &__item:hover,
  &__item:focus {
    color: $accent-color;
  }
  &__item:hover .header-contacts__envelope-icon,
  &__item:focus .header-contacts__envelope-icon,
  &__item:hover .header-contacts__smartphone-icon,
  &__item:focus .header-contacts__smartphone-icon {
    fill: $accent-color;
  }
  &__envelope-icon {
    margin-right: 10px;
    fill: $secondary-text-color;
    width: 16px;
    height: 12px;
    transition: fill 250ms $cubic-bezier;
  }
  &__smartphone-icon {
    margin-right: 10px;
    fill: $secondary-text-color;
    width: 10px;
    height: 16px;
    transition: fill 250ms $cubic-bezier;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}
