.hero-section {
  max-width: 1600px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero-img-mobile-480.jpg);

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-img-tablet-768.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/hero-img-desktop-1600.jpg);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  // max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  &__box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    @media screen and (min-width: 480px) {
      width: 480px;
    }
    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: $hero-text-color;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.37;
    }
  }
  &__button {
    color: $accent-button;
    background-color: $accent-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border-radius: 6px;
    padding: 10px 29px;
    border: solid 1px $accent-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms $cubic-bezier;
  }
  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../../images/hero-img-mobile-960.jpg);
    @media screen and (min-width: 768px) {
      background-image: url(../../images/hero-img-tablet-1536.jpg);
    }
    @media screen and (min-width: 1200px) {
      background-image: url(../../images/hero-img-desktop-3200.jpg);
    }
  }
}
