.hero-section {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../../images/hero-bcg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  &__title {
    margin-top: 0;
    padding-top: 200px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    color: $hero-text-color;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    max-width: 600px;
  }
  &__button {
    color: $accent-button;
    background-color: $accent-color;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border-radius: 6px;
    padding: 10px 29px;
    border: solid 1px $accent-color;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms $cubic-bezier;
  }
  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
