.join-section {
  &__title {
    margin-bottom: 0;
    color: $footer-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.join-box {
  // display: flex;
  max-width: 206px;
  // justify-content: space-between;
  &__link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 44px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms $cubic-bezier;
  }
  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
    border-radius: 50%;
    cursor: pointer;
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }
}
