.portfolio-projects {
  margin-top: 40px;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  // display: flex;
  // flex-wrap: wrap;
  &__list {
    position: relative;
    margin-bottom: 30px;
    cursor: pointer;
    transition: box-shadow 250ms $cubic-bezier;

    outline: solid 1px #eeeeee;
  }
  &__list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &__list:hover .is-hidden {
    opacity: 1;
    transform: translateY(0%);
  }
  // &__list:nth-child(3n) {
  //   margin-right: 0;
  // }
  // &__list:nth-last-child(-n + 3) {
  //   margin-bottom: 0;
  // }
}
.project-image {
  position: relative;
  overflow: hidden;
  &__box {
    position: absolute;
    width: 100%;
    height: 294px;
    top: 0;
    left: 0;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(102%);
    transition: transform 250ms $cubic-bezier;
  }
  &__box .is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  &__text {
    padding: 63px 24px;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $hero-text-color;
  }
}
.project-box {
  padding: 20px 24px;
  &__name {
    margin: 0;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  &_text {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 4px;
  }
}
