.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
  &__box {
    // width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__title {
    margin: 0;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}
.developer {
  // display: flex;
  // justify-content: space-between;
  &__card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
  }
  &__cardbox {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__name {
    margin: 0;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
  }
  &__text {
    margin: 0;
    display: block;
    text-align: center;

    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.2;
  }
  &__social-box {
    // display: flex;
    // padding: 16px 32px 0 32px;
    // justify-content: space-around;
  }
  &__link {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    height: 44px;
    width: 44px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 250ms $cubic-bezier;
  }
  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
    border-radius: 50%;
    cursor: pointer;
  }
  &__link:hover .developer__link-icon,
  &__link:focus .developer__link-icon {
    fill: $hero-text-color;
  }
  &__link-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill 250ms $cubic-bezier;
  }
}
