.thesis-section {
  padding-top: 60px;
  &__box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__title {
    display: none;
  }
}
.thesis-box {
  // display: flex;

  &__item {
    margin-bottom: 30px;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__title {
    margin: 0;
    text-align: center;
    color: $primary-text-color;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  &__text {
    color: $secondary-text-color;
    font-size: 14px;
    line-height: 1.7;
  }
}
