.works-section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (max-width: 479px) {
    display: none;
  }
  &__box {
    // width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__title {
    margin: 0;
    color: $primary-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
  }
}
.work {
  // display: flex;
  // justify-content: space-between;
  &__box {
    position: relative;
    height: 294px;
  }
  &__item {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
  &__name {
    margin: 0;
    padding: 27px 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $hero-text-color;
  }
}
