$secondary-text-color: #757575;
$primary-text-color: #212121;
$button-color: #212121;
$accent-color: #2196f3;
$accent-button: #ffffff;
$hero-text-color: #ffffff;
$footer-bgc: #2f303a;
$footer-text-color: #ffffff;
$border-color: #f5f4fa;
$button-bgc-color: #f5f4fa;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
